@mixin banner {
  width: 100%;
  position: relative;
  color: white;
  .banner-content {
    position: absolute;
    bottom: 10px;
    left: 36%;
  }
  img {
    width: 100%;
    max-height: 550px;
  }
  span {
    font-size: $bannerHeading;
    text-transform: uppercase;
    font-weight: bold;
  }
  span.title {
    font-weight: normal;
    display: inline;
  }
}

@mixin clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

@mixin grid($cols, $mgn){
  float: left;
  width: ((100% - (($cols - 1) * $mgn)) / $cols );
  margin-right: $mgn;
  margin-bottom: $mgn;
  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}