#main-nav {
  background: #032f3e; }
  #main-nav ul {
    width: 100%; }
  #main-nav li {
    float: left;
    width: 20%; }
  #main-nav a {
    color: #f8f9fb;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center; }

#main-nav ul:after {
  content: '';
  display: block;
  clear: both; }

section h1 {
  font-size: 24px;
  color: #032f3e; }
