#main-nav {
  background: #032f3e; }
  #main-nav ul {
    width: 100%; }
  #main-nav li {
    float: left;
    width: 20%; }
  #main-nav a {
    color: #f8f9fb;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center; }

#main-nav ul:after {
  content: '';
  display: block;
  clear: both; }

section h1 {
  font-size: 24px;
  color: #032f3e; }

.header-banner {
  width: 100%;
  position: relative;
  color: white; }
  .header-banner .banner-content {
    position: absolute;
    bottom: 10px;
    left: 36%; }
  .header-banner img {
    width: 100%;
    max-height: 550px; }
  .header-banner span {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: bold; }
  .header-banner span.title {
    font-weight: normal;
    display: inline; }
